body {
  background-color: aliceblue;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin-top: 60px;
  height: 82px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 80%;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
}
